.contactPage{
    background-color: #f9fafb;
}
.contactBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px;
}
.contactBox h1{
    font-size: 36px;
    font-weight: bold;
    color: #111827;
}
.contactRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contactRow ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.contactRow ul li a{
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 16px;
    padding: 16px 24px;
    width: 400px;
    gap: 8px;
    text-decoration: none;
    color: black;
}
.contactRow ul li a:hover{
    background-color: #2563eb50;
    border: 2px solid #2563eb;
    color: #2563eb;
}
.contactInfoIcon{
    color: #2563eb;
    font-size: 24px;
}
.contactSocial{
    padding: 24px;
}
.contactSocial a{
    color: black;
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 40px;
}
.contactForm .formInputs{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contactForm .formInputs input, .contactForm .formInputs textarea{
    width: 480px;
    padding: 4px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #2563eb;
}
