.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: none;
}
.leftNav{
    display: flex;
    gap: 40px;
}
.leftNav h3{
    font-size: 39px;
    font-weight: bold;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchBar input{
        padding: 12px 16px;
    width: 280px;
    border-radius: 8px;
    border: 1px solid #666;
    outline: none;
}
.searchDropdown {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
}

.searchItem {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
}

.searchItem:hover {
  background: #f2f2f2;
}

.noResult {
  color: #888;
  cursor: default;
}
.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.navlinks{
    display: flex;
    gap: 56px;
    padding: 10px 16px;
    list-style: none;
}
.navlinks li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlink{
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: black;
    text-decoration: none;
}
.navlink:hover{
    border-bottom: 2px solid #2563eb;
}
.navlink.active{
    border-bottom: 2px solid #2563eb;
}
.rightNav .profileBtn{
    width: 35px;
    height: 35px;
    background: #2563eb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
