/* ================= MyBookings.css ================= */
.customerBookingsPage {
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 24px;
  align-items: center;
}
.customerBookingsPage .filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  width: 100%;
}
.filterBtn {
  height: 36px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #d1d5db;
  background: white;
  font-size: 13px;
  font-weight: 500;
  color: #374151;
  cursor: pointer;
}
.filterBtn.active {
  background-color: #2563eb;
  border: none;
  color: white;
}
.bookingsList {
    width: 100%;
  display: flex;
  flex-direction: column;
}
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
}
.emptyState h3{
    font-size: 18px;
    color: #111827;
    font-weight: 600;
}
.emptyState p{
    font-size: 14px;
    color: #6b7280;
}
.bookingCard{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-radius: 12px;
    background: white;
}
.bookingLeft{
    display: flex;
    gap: 24px;
}
.serviceIcon{
    font-size: 56px;
}
.bookingLeft h3{
    font-size: 16px;
    font-weight: 600;
    color: #111827;
}
.bookingLeft p{
    font-size: 12px;
    color: #6b7280;
}
.bookingMiddle, .serviceType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.bookingMiddle p{
    font-size: 13px;
    color: #374151;
}
.bookingRight{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.statusBadge{
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}
.statusBadge.upcoming{
    background-color: #dbeafe;
    color: #1D4ED8;
}
.statusBadge.progress{
    background-color: #FEF3C7;
    color: #92400e;
}
.statusBadge.completed{
    background-color: #DCFCE7;
    color: #166534;
}
.statusBadge.cancelled{
    background-color: #FEE2E2;
    color: #991B1B;
}
.actions{
    display: flex;
    gap: 8px;
}
