*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primaryBtn{
    padding: 8px 16px;
    background-color: #2563eb;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.primaryBtn:hover, .secondaryBtn:hover{
  background-color: #1d43d8;
  color: white;
}
.secondaryBtn{
      padding: 8px 16px;
    background-color: none;
    border: 1px solid #2563eb;
    outline: none;
    border-radius: 4px;
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
body{
  font-family: "Poppins", sans-serif;
}
